*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(243, 243, 243);
}
header{
    background-color: rgb(255, 255, 255);
    /* position: fixed; */
    z-index: -100;  
    margin-top: 0px;
    max-width:100%;
    top: 0;
    
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    position: sticky;
    top: 0 ;
}
.a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.747);
    font-size: 18px;
    padding-right: 15px;
    padding-left: 25px;
}
.categaries{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.categaries .search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.search{
    width: 50vw;
    height:40px;
    border-radius: 15px;
    flex-wrap: wrap;
}
.heart{
    padding-right: 20px;
}
.nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
 .card{
    display: flex;
    flex-wrap: wrap;
 }
 .box1{
    padding-left: 25px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
    word-spacing: 3px;
    max-width:100%;
 }
 /* main */
 .main-container{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
 }
.h1{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: rgba(54, 52, 52, 0.945);
    font-weight: 520;
}
.img1{
    margin-top: 40px;
    width: 350px;
    height: 300px;
}
.img2{
    width: 350px;
    height:250px;
}
span{ 
    padding-left: 10px;
    display: block;
}